---
layout: default
title: Movie posters featuring inspirational quotes to motivate and uplift.
description: Inspiring movie quotes infused with an impactful Christian message about life and hope.
---
<div class="w-100 overflow-hidden">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-5 mb-5">
      {% for poster in site.posters reversed %}
      <div class="col-12 col-lg-6 col-xl-4 ">
        <div class="card h-100 border-0">
          
          <div class="position-relative">
            <p class="fs-5 fw-bolder position-absolute top-0 start-0 mt-3 py-2 px-3 bg-cta-custom text-light shadow-sm">
              {% if poster.price_print %}
                ${{ poster.price_print }}
              {% else %}
                ${{ poster.price_digital }}
              {% endif %}
            </p>
          </div>
          <img src="{{ site.url }}/img/posters/{{ poster.image_thumbnail }}" width="100%" class="shadow-sm">
          
          <div class="card-body">
            
            <h3 class="card-title pt-1">
              <a href="{{ poster.url }}" class="stretched-link text-decoration-none">{{ poster.title }}</a>
            </h3>

            <p class="card-text">{{ poster.description | truncate: 112 | markdownify }}</p>
            <div class="card-footer text-muted small px-0 bg-transparent">{{ poster.categories | join: ', ' }}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      
    </div>
  </div>
</div>