<footer>
  <div class="container small border-top border-bottom">
    <div class="row d-flex justify-content-between">
      <div class="col-12 col-lg-6 border-end py-5">
        {% if site.logo %}
        <a href="{{ site.url }}">
          <img src="{{ site.url }}/img/{{ site.logo }}" class="pb-3" width="{{ site.logo-width }}" alt="Logo for {{ site.title }}">
        </a>
        {% else %}
        <h3 class="h6 mb-3"><a href="{{ site.url }}" class="text-decoration-none">{{ site.title }}</a></h3>
        {% endif %}
        <p class="mt-3">{{ site.description }}</p>
      </div>

      <div class="col-6 col-lg-3 border-end py-5">
        <ul class="nav flex-column">
          {% for item in site.data.navigation %}
          <li class="nav-item">
            <a href="{{ item.url }}" class="nav-link link-secondary ps-0">{{ item.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-6 col-lg-3 py-5">
        <p>Looking for something custom? <a href="/contact/" class="link-fancy">Get in touch!</a></p>
        <p><a href="tel:{{ site.phone }}" class="link-fancy mt-1">{{ site.phone }}</a></p>
        <ul class="list-unstyled socials">
          {% for url in site.data.settings.social_settings %}
          {% if url[1] != '' %}
          <li class="socials__item">
            <a href="{{ url[1] }}" target="_blank" class="socials__item__link" title="{{ url[0] | remove: '_url' | replace: '-', ' ' | capitalize }}">
              <i class="fab fa-{{ url[0] | replace: 'facebook', 'facebook-f' | remove: '_url' }}" aria-hidden="true"></i>
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="container text-center py-3 small">
    © 2023 All Rights Reserved | 
    <a href="{{ site.url }}" class="link-fancy">{{ site.title}}</a> | 
    <a class="link-fancy" href="/privacy-policy/">Privacy Policy</a> | 
    <a class="link-fancy" href="/terms-of-service/">Terms of Service</a> | 
    <a class="link-fancy" href="/sitemap.xml" target="_blank">Sitemap</a> | 
    Designed by <a class="link-fancy" href="https://325studio.com/" target="_blank">325 Studio</a>
  </div>
</footer>

<script src="{{ site.url }}/js/bootstrap.bundle.min.js"></script>
<script src="{{ site.url }}/js/aos.js"></script>

<script>
  let scrollpos = window.scrollY
  const header = document.querySelector(".navbar")
  const header_height = header.offsetHeight

  const add_class_on_scroll = () => header.classList.add("scrolled", "shadow-sm")
  const remove_class_on_scroll = () => header.classList.remove("scrolled", "shadow-sm")

  window.addEventListener('scroll', function() {
    scrollpos = window.scrollY;

    if (scrollpos >= header_height) { add_class_on_scroll() }
    else { remove_class_on_scroll() }

    console.log(scrollpos)
  })
</script>