<p data-aos="fade-left" data-aos-delay="200" class="aos-init aos-animate">
<form class="row"
  name="Wooley Art Contact"
  method="POST"
  data-netlify-recaptcha="true"
  data-netlify="true"
  action="/thank-you/">

  <div class="col-12">
    <div class="mb-3">
      <label for="fullName" class="form-label">Full Name *</label>
      <input type="text" name="name" class="form-control form-control-lg p-3" id="fullName">
    </div>
    <div class="mb-3">
      <label for="phoneNumber" class="form-label">Phone Number *</label>
      <input type="text" name="phone" class="form-control form-control-lg p-3" id="phoneNumber">
    </div>
    <div class="mb-3">
      <label for="emailAddress" class="form-label">Email Address *</label>
      <input type="email" name="email" class="form-control form-control-lg p-3" id="emailAddress" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="message" class="form-label">Send me a message *</label>
      <textarea type="text" name="message" class="form-control form-control-lg p-3" id="message"></textarea>
    </div>
    <div class="mb-3" data-netlify-recaptcha="true"></div>
    <button type="submit" class="btn btn-custom-primary btn-lg">Submit</button>
  </div>
</form>
</p>
</div>