<table class="table">
  <thead>
    <tr>
      <th scope="col">Size</th>
      <th scope="col" class="text-end fw-bolder">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">8" x 10"</th>
      <td class="text-end fw-bolder">$17.00</td>
    </tr>
    <tr>
      <th scope="row">16" x 20"</th>
      <td class="text-end fw-bolder">$22.00</td>
    </tr>
    <tr>
      <th scope="row">24" x 36"</th>
      <td class="text-end fw-bolder">$28.00</td>
    </tr>
  </tbody>
</table>

<div class="d-grid gap-2">
  <a href="/order.html" type="button" class="btn btn-dark mt-4 mb-4" >Order Poster</a>
</div>

<p>
  <small>Cost to ship</small><br>
  <span class="fw-bold">Free</span>
</p>

<p>
  <small>Estimated arrival</small><br>
  <span class="fw-bold">5-8 business days</span>
</p>