---
layout: default
---
<div class="row gx-5"> 
  <div class="col-md-6 order-md-1">
    <h1 class="mb-4">{{ page.title }}</h1>

    {{ content }}

    {% if page.include_price_table %}
    {% include prices.html %}
    {% endif %}

    <hr class="col-md-3 my-5">

    {% if page.quote-1 %}
    <p class="text-secondary text-uppercase">Movie poster quote:</p>
    <figure>
      <blockquote class="blockquote">
        <p>“{{ page.quote-1 }}”</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        {{ page.author-1 }} • <cite title="Source Title">{{ page.source_title-1 }}
      </figcaption>
    </figure>
    <figure>
      <blockquote class="blockquote">
        <p>“{{ page.quote-2 }}”</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        {{ page.author-2 }} • <cite title="Source Title">{{ page.source_title-2 }}</cite>
      </figcaption>
    </figure>
    {% endif %}
    {% if page.print_info %}
    <p class="text-secondary text-uppercase mt-5">About the print:</p>
    <p>Museum-quality posters made on thick and durable matte paper.</p>
    <ul>
      <li>Paper thickness: 10.3 mil</li>
      <li>Paper weight: 5.57 oz/y² (189 g/m²)</li>
      <li>Giclée printing quality</li>
      <li>Opacity: 94%</li>
      <li>ISO brightness: 104%</li>
    </ul>
    {% endif %}
  </div>

  <div class="col-md-6">
    <div class="">
      <img width="100%" src="/images/{{ page.image-1 }}" class="mb-4 img-thumbnail" data-bs-toggle="modal" data-bs-target="#image1">
      <div class="row">
        {% if page.image-2 %}
        <div class="col-md-6 col-sm-12">
          <img width="100%" src="/images/{{ page.image-2 }}" class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#image2">
        </div>
        {% endif %}
        {% if page.image-3 %}
        <div class="col-md-6 col-sm-12">
          <img width="100%" src="/images/{{ page.image-3 }}" class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#image3">
        </div>
        {% endif %}
      </div>
    </div>

    <!-- Modal 1 -->
    <div class="modal fade" id="image1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-0 p-0">
            <img width="100%" src="/images/{{ page.image-1 }}">
          </div>
        </div>
      </div>
    </div>
    <!-- Modal 2 -->
    <div class="modal fade" id="image2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-0 m-0">
            <img width="100%" src="/images/{{ page.image-2 }}">
          </div>
        </div>
      </div>
    </div>
    <!-- Modal 3 -->
    <div class="modal fade" id="image3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-0 m-0">
            <img width="100%" src="/images/{{ page.image-3 }}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>